.box-header {
  width: 98%;
  border: 3px solid lightblue;
  margin: 1%;
  box-sizing: border-box;
  background-color: white;
}

/*TODO: fix how photo sits in box and how it moves when page size changes*/
#west-photo {
  float: left;
  width: 10%;
  padding-top: 1%;
}

.box-projects {
  width: 48%;
  border: 3px solid lightblue;
  margin: 1%;
  box-sizing: border-box;
  float: left;
  background-color: white;
}

.box-about {
  width: 48%;
  border: 3px solid lightblue;
  margin: 1%;
  box-sizing: border-box;
  float: right;
  background-color: white;
}

body {
  background-color: rgba(176, 224, 230, 0.582);
}

div {
  padding-right: 1%;
  padding-left: 1%;
}